<!DOCTYPE html>
<html>

<%- include('partials/head') %>

    <body>

        <main>
            <h3>Alta de Persona</h3>
            <section class="ultima-visita">





                <form action="/store" method="POST">

                    <div class="field">
                        <label for="name">Nombre</label>
                        <div class="control">
                            <input type="text" name="name">
                        </div>

                    </div>



                    <div class="field">
                        <label for="text">Apellido</label>
                        <div class="control">
                            <input type="text" name="lastname">
                        </div>
                    </div>
                    <div class="field">
                        <div class="control">
                            <button type="submit">Crear</button>
                        </div>
                    </div>
                </form>



                </div>
            </section>





        </main>

    </body>

</html>